name: Terraform Destroy (Manual - Destroy All)

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

    
      - name: Terraform Init
        run: terraform init -reconfigure
        working-directory: infra-app   # uncomment if needed

      - name: Terraform State Check
        run: terraform state list
        working-directory: infra-app

      - name: Terraform Destroy 
        run: terraform destroy -auto-approve
        working-directory: infra-app
